table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

th,
td {
    padding: 6px 4px;
    border-bottom: 1px solid #444;
}

th {
    color: #aaa;
    font-size: 0.85em;
    text-align: center;
    font-weight: normal;
}

input,
textarea {
    box-sizing: border-box;
    border: 1px solid #444;
    background: #2a2a2a;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}

.col-date {
    width: 35px;
}

.col-money {
    width: 80px;
}

.col-btns {
    width: 50px;
    text-align: center;
}

td.col-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}