table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;
    table-layout: fixed;
}

th {
    color: #aaa;
    font-weight: normal;
    font-size: 0.85em;
    padding-bottom: 2px;
    text-align: center;
}

.col-date {
    width: 35px;
}

.col-money {
    width: 85px;
}

.col-btns {
    width: 50px;
    text-align: center;
}

td.col-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

input,
textarea {
    box-sizing: border-box;
    border: 1px solid #444;
    background: #2a2a2a;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}