input,
textarea {
    box-sizing: border-box;
    border: 1px solid #444;
    background: #2a2a2a;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}

input.money-input {
    text-align: center;
    color: #80d8ff;
    width: 100%;
    font-family: monospace;
    font-weight: bold;
}

textarea.kakeibo-text {
    width: 100%;
    color: #eee;
    resize: none;
    line-height: 1.2em;
    padding: 4px 2px;
    word-break: break-all;
    white-space: pre-wrap;
    min-height: 1.2em;
    text-align: center;
}